body {
    font-family: 'Times New Roman', Times, serif;
    padding:20px;
    background-color: cyan;
}
.b {
    display: inline-block;
    width:300px;
    background-color: tomato;

    position:relative;
    box-shadow: 44px 455px 6px rgb(111, 233, 134);
    border-radius:5px;
    overflow:hidden;
}

.b {
    width:100%;
    display: block;

}

.badge {
    position:absolute;
    top: 100px;
    right:100px;
    background-color: yellow;
    color:white;
    font-size: 10px;
    border-radius:5px;
    padding:5px;
}

.mb {
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    background:rgb(0, 0, 0.5);
    color:white;
    opacity:0;
    transition:opacity 0.3s ease;
    padding:20px;
}

.b:hover .mb{
 opacity:0.7;
}